.page-header {
  background-color: #1a5099;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  z-index: 1;
}

.page-header a, .page-header a:visited, .page-header a:active, .page-header a:hover {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
  text-decoration: none;
}

.page-header h1 span {
  color: #4BA2F2;
}

.body {
  width: 100%;
  height: 1000px;
  display: table;
  position: absolute;
  margin-top: -25;
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url({% static 'img/people-2567915_1920.jpg' %});*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../img/people-2567915_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.body-center {
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}

.body h1 {
  font-family: 'Patua One', cursive;
  font-size: 36pt;
  color: white;
  text-shadow: 2px 2px #282c34;
}

.body p {
  font-family: 'Patua One', cursive;
  font-size: 24pt;
  color: white;
  text-shadow: 2px 2px #282c34;
}

.input-accountname {
  text-align: center;
  color: white;
  border: transparent;
  background-color: transparent;
  width: 200px;
  box-shadow: -7px 10px 0px -7px #1a5099, 7px 10px 0px -7px #1a5099;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.result-container {
  padding: 40px;
  height: 1000px;
}

.friend-row-top {
  height: 60px;
  color: white;
}

.friend-row-top span {
  font-family: 'Patua One', cursive;
  font-size: 24pt;
  font-style: bold;
}

.friend-row {
  height: 60px;
  color: white;
}

.friend-row span {
  font-family: 'Patua One', cursive;
  font-size: 18pt;
}

.friend-row-name {
  width: 250px;
  float: left;
}

.friend-row-score {
  width: 250px;
  float: left;
}

.loader {
  margin-top: 40px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
