@font-face {
  font-family: 'SalmelaScript';
  src: url('../fonts/SalmelaScript/Salmela.otf');
}

.page-header {
  background-color: #1a5099;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  z-index: 1;
}

.page-header h1 {
  color: white;
  font-size: 24pt;
  text-decoration: none;
}

.body {
  font-family: SalmelaScript;
  width: 100%;
  height: 1000px;
  display: table;
  position: absolute;
  margin-top: -25;
  background-image: url('https://pixabay.com/get/eb30b4062ff6023ed1534705fb0938c9bd22ffd41cb1134791f1c37ba7/people-2559723_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.body h1 {
  font-size: 36pt;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.page-footer {
  height: 100%;
  background-color: #282c34;
}

/*.body img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}*/
